html {
  scroll-behavior: smooth;
}

body {
  cursor: url('../images/bone-cursor.png'), auto;
}

img {
  font-size: 0.5rem;
}

.container {
  max-width: 1200px !important;
}

.slowly-bounce {
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
